html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
		font-family: Arial, Helvetica, sans-serif;
}

header {
	width: 100%;
	background-color: #306F24;
	height: 3rem;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: right;
	color: white;
}

header > span {
	font-size: 1.4rem;
	margin-right: 5px;
	text-transform: uppercase;
	font-weight: 600;
}

.card {
	background-color: #E7E7E7;
	margin: 1rem 1rem;
	padding: 1rem 1rem;
	border-radius: 0.5rem;
}

.card > h4 {
	color: #333;
	font-weight: bold;
	font-size: 1.4rem;
	padding: 1rem 0.5rem;
	text-transform: uppercase;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
	border: 1px solid #ddd;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

td:first-child { 
	font-weight: 500;
	width: 75%;
	white-space: nowrap;
}

td:last-child { 
	text-align: center;
	width: 25%;
	color: #839DF8;
	font-weight: bold;	
}

@media screen and (max-width: 600px) {
	td:first-child { 
		font-weight: 500;
		width: 65%;
		white-space: normal;
	}
	
	td:last-child { 
		text-align: center;
		width: 35%;
		color: #839DF8;
		font-weight: bold;	
		white-space: nowrap;
	}
}